<section id="sidebar">
  
  {% block intro %}
    {% include 'partials/sidebar-bits/intro.html.twig' %}
  {% endblock %}

  {% block miniposts %}
    {% include 'partials/sidebar-bits/miniposts.html.twig' %}
  {% endblock %}

  {% block latest %}
    {% include 'partials/sidebar-bits/recentposts.html.twig' %}
  {% endblock %}
  
  {% block footer %}
    
    {% if page.header.toc_enabled == true and config.plugins["page-toc"].enabled %}
      <div class="page-toc-sticky">
      {% include 'components/page-toc.html.twig' %}
    {% endif %}
    
    {% include 'partials/sidebar-bits/footer.html.twig' %}
    
    {% if page.header.toc_enabled == true and config.plugins["page-toc"].enabled %}
      </div>
    {% endif %}
    
  {% endblock %}

</section>
