@use "../libs/breakpoints";
@use "../libs/functions";
@use "../libs/mixins";
@use "../libs/vendor";

/* Banner */

	#banner {
		@include mixins.padding(6em, 0);
		@include vendor.vendor('display', 'flex');

		h1 {
			margin-top: -0.125em;
			font-size: 1.1em;
		}
		h2 {
			margin-top: -0.125em;
			font-size: 1.1em;
		}

		.content {
			@include vendor.vendor('flex-grow', '1');
			@include vendor.vendor('flex-shrink', '1');
			width: 60%;
		}

		.image {
			@include vendor.vendor('flex-grow', '0');
			@include vendor.vendor('flex-shrink', '0');
			display: block;
			margin: 0 0 functions.size(element-margin) (functions.size(element-margin) * 2);
			width: 40%;

			img {
				height: 100%;
				-moz-object-fit: contain;
				-webkit-object-fit: contain;
				-ms-object-fit: contain;
				object-fit: contain;
				-moz-object-position: center;
				-webkit-object-position: center;
				-ms-object-position: center;
				object-position: center;
				width: 100%;
			}
		}

		@include breakpoints.orientation(portrait) {
			@include vendor.vendor('flex-direction', 'column-reverse');

			h1 {
				br {
					display: none;
				}
			}

			.content {
				@include vendor.vendor('flex-grow', '0');
				@include vendor.vendor('flex-shrink', '0');
				width: 100%;
			}

			.image {
				@include vendor.vendor('flex-grow', '0');
				@include vendor.vendor('flex-shrink', '0');
				margin: 0 0 (functions.size(element-margin) * 2) 0;
				height: 25em;
				max-height: 50vh;
				min-height: 18em;
				width: 100%;
			}

			@include breakpoints.breakpoint('<=xsmall') {
				.image {
					max-height: 35vh;
				}
			}
		}
	}
