/* Feautres */

#features {

        header {
            p {
                font-family: _font(family);
                font-weight: _font(weight);
                font-size: inherit;
                letter-spacing: _font(no-kerning);
                line-height: inherit;
                margin: 1em 0;
                text-transform: initial;
                padding: 0 1em;
            }
            h3 {
                margin-top: 0em;
                padding: 0 1em;
            }
        }
                    
}