/* Sytles for heading */

.heading {
    padding: 1em 3em;
    background-color: #fff;
    position: relative;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-bottom: none;

    .title {
        h2 {
        font-weight: 900;
        font-size: 1.5em;
      }
    }
  }
  