/* Sytles for heading */

.heading {
    padding: 1em 3em;
    background-color: #fff;
    position: relative;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-bottom: none;

    .title {
        h2 {
        font-weight: 900;
        font-size: 1.5em;
      }
    }
  }
  @media screen and (max-width: 980px) {
    .post {
      border-left: 0;
      border-right: 0;
      left: -3em;
      width: calc(100% + (3em * 2));

      > header {
        -moz-flex-direction: column;
        flex-direction: column;
        padding: 3.75em 3em 1.25em 3em;
        border-left: 0;

        .title {
          -ms-flex: 0 1 auto;
          margin: 0 0 2em 0;
          padding: 0;
          text-align: center;
        }
      }
    }
  }
  @media screen and (max-width: 736px) {
    .heading {
      padding: 1.5em 1.5em 0.1em 1.5em;
      left: -1.5em;
      margin: 0 0 2em 0;
      width: calc(100% + (1.5em * 2));

      > header {
        padding: 3em 1.5em 0.5em 1.5em;
        left: -1.5em;
        margin: -1.5em 0 1.5em 0;
        width: calc(100% + 3em);

        .title h2 {
          font-size: 1.1em;
        }
      }
    }
  }
  