
/* Portofolio */

.portfolio_container{
    padding: 1em 0;
    float: left;
    width: 50%;

    .title{
        color: #1a1a1a;
        text-align: center;
        margin-bottom: 10px;
    }

    @include breakpoint('<=small') {
        .portfolio_container{
            display: block;
            width: 100%;
        }
    }
    @include breakpoint('<=xlarge') {
        .portfolio_container{
            width: 33.33333%;
        }
    }
}


.portfolio_content {
    position: relative;
    margin: 1em;
    overflow: hidden;

    a {
        border: unset;
        margin-bottom: 0;
    }

    .portfolio_content-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        height: calc(100% - 0.5em);
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border-radius: 0.375em;
    }
    &:hover {
        .portfolio_content-overlay{
            opacity: 1;
        }
        .portfolio_content-details{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
    }
}

.portfolio_content-image{
    width: 100%;
    border-radius: 0.375em;
}

.portfolio_content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    p {
        color: #fff;
        font-size: 0.8em;
    }
}

.fadeIn-bottom{
    top: 80%;
}
.fadeIn-top{
top: 20%;
}

.fadeIn-left{
left: 20%;
}

.fadeIn-right{
left: 80%;
}
