/* Sidebar menu */

#sidebarmenu {display: none;}

@media screen and (max-width: 980px) {

#sidebarmenu {
    display: block; }
}

.menulink {
    margin: 0;
    padding: 0;
    margin-top: -0.3rem;
}

ul.menulink > li,
ul.menulink > li > ul
{
    list-style: none;
    font-family: _font(family-heading);
    padding: 0.1em 0 0 0;
    margin: 0em;
    line-height: 2.3em;
}
ul.menulink > li a.tags {
    border: dotted 1px rgba(119, 118, 118, 0.65);
    padding: 0.2em;
    font-size: 0.8em;
}
ul.menulink > li a:hover.tags  {
    background-color: _palette(accent);
    color: _palette(bg-alt) !important;
}
ul.menulink > li > ul,
ul.menulink > li a span {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: _font(weight);
}
ul.menulink > li a span li {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: 0.8em;
    font-weight: _font(weight);
    text-transform: uppercase;
}

ul.menulink > li * {
list-style-type: none;
}

ul.menulink > li a:hover span {
    color: _palette(accent) !important;
}
ul.subitem {
    display:block;
}
ul.subitem > li > ul,
ul.subitem > li a span {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: 0.9em;
    font-weight: _font(weight);
    text-transform: capitalize;
    margin-bottom: 0;
}
ul.subitem > li {
    list-style-type: none;
    margin-left: 0.4em;
    }
ul.subitem_hide {
    display:none;
}
ul.subitem_hide > li > ul,
ul.subitem_hide > li a span
{

    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    margin-bottom: 0;
    font-weight: _font(weight);
    text-transform: capitalize;
}
ul.subitem_hide > li {
    list-style-type: none;
    margin-left: 0.4em;
}
.dropdown-btn {
    cursor: pointer;
}
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
