<!-- Intro -->
<section id="intro">
<a href="{{ home_url }}" class="logo" rel="nofollow" title="{{ site.title|raw }}">
{% include 'partials/logo.html.twig' %}
</a>
<header>
    <h2>{{ site.title|e('html') }}</h2>
    <p>{{theme_config.slogan|raw}}</p>
</header>
</section>