<!-- Intro -->
<section id="intro">
<a href="{{ home_url }}" class="logo" rel="nofollow" title="{{ site.title|e('html_attr') }}">
{% include 'partials/logo.html.twig' %}
</a>
<header>
    <h2>{{ site.title|e }}</h2>
    {{ theme_config.slogan|markdown }}
</header>
</section>