#back-to-top {
    display: inline-block;
    font-family: 'FontAwesome';
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    line-height: 1.3em;
    background-color: #ab1d35;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #back-to-top:hover {
    cursor: pointer;
    background-color: #333;
    color:#fff !important;
  }
  #back-to-top:active,
  #back-to-top:visited {
    background-color: #ab1d35 !important;
    color: #fff;
  }
  #back-to-top.show {
    opacity: 1;
    visibility: visible;
  }


#header .main ul li.langswitcher > a {
      text-decoration: none;
      border-bottom: 0;
      color: #838383;
      text-indent: 0em;
      text-align: center;}

@media screen and (max-width: 736px) {
    #header .main ul li.langswitcher {
      display: none; } }
