{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set base_url = page.url %}
{% set feed_url = base_url %}
{% set show_breadcrumbs = header_var('show_breadcrumbs')|defined(true) %}
{% set show_pagination = header_var('show_pagination')|defined(true) %}
{% set show_sidebar = header_var('show_sidebar')|defined(false)  %}
{% set image = page.media[page.header.primaryImage] ?: page.media.images|first %}
{% set title = page.title|raw %}

{# Set page title by taxonomy #}
{% if uri.param('category') %}
	{% set listing_title = 'FUTURE.BLOG.LISTING_TITLE_CATEGORY'|t ~ uri.param('category') %}
{% elseif uri.param('tag') %}
	{% set listing_title = 'FUTURE.BLOG.LISTING_TITLE_TAG'|t ~ uri.param('tag') %}
{% elseif uri.param('author') %}
	{% set listing_title = 'FUTURE.BLOG.LISTING_TITLE_AUTHOR'|t ~ uri.param('author') %}
{% else %}
    {% set listing_title = page.header.subtitle|raw %}
{% endif %}

{% if base_url == '/' %}
  {% set base_url = '' %}
{% endif %}

{% if base_url == base_url_relative %}
  {% set feed_url = base_url~'/'~page.slug %}
{% endif  %}

{% block menu %}
  {% include 'partials/sidebar_right.html.twig' %}
{% endblock %}

{% block content %}
  <div class="heading">
    <header>
      <div class="title">
        <h2>{{ title }}</h2>
        {% if listing_title %}
          <p>{{ listing_title|raw }}</p>
        {% endif %}
      </div>
    </header>
    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
      {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    {% if image %}
      {{ image.cropZoom(1038,437).loading('lazy').html(title, title, 'image featured')|raw }}
    {% endif %}

    {{ page.content|raw }}
  </div>

  {% for child in collection %}
    {% include 'partials/blog_item.html.twig' with {'page':child, 'truncate':true} %}
  {% endfor %}

  {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
  {% endif %}

  {% if show_sidebar == false %}
    <section id="footer" class="align-center">
      {% include 'partials/footer.html.twig' %}
    </section>
  {% endif %}
{% endblock %}

{% block sidebar %}
  {% if show_sidebar == true %}
    {% include 'partials/sidebar_left.html.twig' %}
  {% endif %}
{% endblock %}
