{% extends 'partials/base.html.twig' %}

{% block menu %}
  {% include 'partials/sidebar_right.html.twig' %}
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h1>{{ title }}</h1>
        {% if subtitle %}
          <p>{{ subtitle }}</p>
        {% endif %}
      </div>
    </header>

  {% if show_image and image %}
      <span class="image featured">
        {{ image.cropZoom(img_width, img_height).loading('lazy').attribute('decoding','async').html(title, title)|raw }}
      </span>
  {% endif %}

    {{ page.content|raw }}

  </article>

  {% if show_sidebar == false %}
    <section id="footer" class="align-center">
      {% include 'partials/sidebar-bits/footer.html.twig' %}
    </section>
  {% endif %}
{% endblock %}

{% block sidebar %}
{% if show_sidebar == true %}
  {% include 'partials/sidebar_left.html.twig' %}
{% endif %}
{% endblock %}
