{% extends 'partials/base.html.twig' %}

{% set image = page.media[page.header.primaryImage] ?: page.media.images|first %}
{% set title = page.title|raw %}
{% set subtitle = page.header.subtitle|raw %}

{% block menu %}
  {% include 'partials/sidebar_right.html.twig' %}
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h2>{{ title }}</h2>
        {% if subtitle %}
          <p>{{ subtitle }}</p>
        {% endif %}
      </div>
    </header>

    {% if image %}
      {{ image.cropZoom(1038,437).loading('lazy').html(title, title, 'image featured')|raw }}
    {% endif %}

    {{ page.content|raw }}

  </article>

  <section id="footer" class="align-center">
    {% include 'partials/footer.html.twig' %}
  </section>
{% endblock %}
