{% extends 'partials/base.html.twig' %}

{% block menu %}
  {% include 'partials/sidebar_right.html.twig' %}
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h2><span class="icon fa-exclamation-triangle"></span> Error {{ page.header.http_response_code }}</h2>
        <p>{{ page.content|raw }}</p>
      </div>
    </header>
  </article>
{% endblock %}
