{% extends 'partials/base.html.twig' %}

{% if page.header.show_breadcrumbs is defined %}
    {% set show_breadcrumbs = page.header.show_breadcrumbs %}
{% else %}
    {% set show_breadcrumbs = true %}
{% endif %}

{% block menu %}
    {% include 'partials/sidebar_right.html.twig' %}
{% endblock %}

{% block content %}
    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    {% include 'partials/blog_item.html.twig' with {'truncate':false} %}

<section id="footer" class="align-center">
    {% include 'partials/footer.html.twig' %}
</section>
{% endblock %}
